<!DOCTYPE html>
<html>
<head>
  <title>Retailer</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='msc/index/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='msc/index/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="css/index/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
 <!--  <link href="css/index/owl.carousel.min.css" rel="stylesheet">
  <link href="css/index/owl.theme.default.min.css" rel="stylesheet">
  <link href="css/index/font-awesome.min.css" rel="stylesheet">
  <link href="css/index/animate.min.css" rel="stylesheet">
  <link href="css/index/modal-video.min.css" rel="stylesheet"> -->

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/index/style.css') }}" rel="stylesheet">

</head>
<body>




  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/"><img src="{{ url_for('static', filename='msc/index/FarmFella Logo.png') }}" height="80" width="80">&nbsp;&nbsp;<span style="color: green">Farm</span><span style="color: #6fec5d">Fella</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a> -->
      </div>

      <nav id="nav-menu-container" style="margin-top: 20px; margin-bottom: 20px; height: 20px;" >
        <ul class="nav-menu">
          <li class="menu-active"><a href="/profile">My Profile</a></li>
          <li><a href="/retailer">Retailer</a></li>
          <li><a href="/supplier">Supplier</a></li>
          <li><a href="/mandi">Live Mandi Price</a></li>
           <li><a href="/weatherinfo/weather">Weather</a></li>
          <li><a href="/faq">Faqs</a></li>

          <li><a href="/soil">Soil Testing Labs</a></li>

          <li class="menu-has-children"><a href="">language</a>
            <ul>
              <li><a href="#">Hindi</a></li>
              <li><a href="#">Urdu</a></li> 
              <li><a href="#">Odia</a></li>
              <li><a href="#">Telgu</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->



  <section id="pricing" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <br><br><br>
        <h2>Suppliers</h2>
        <p class="separator">Suppliers in your locality</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Kataria-Farmers</h2>
              <h4>Madhya-Pradesh,Indore</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product:Wheat </b></li>
                <li><b>Type</b>Food Crops </li>
                <li><b>Price</b> 27/kg</li>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" style="background-color: green;" class="btn">Chat</button>
                <br>
                <br>
                <form action="/your-server-side-code" method="POST">
                  <script 
                  src = "https://checkout.stripe.com/checkout.js" class = "stripe-button"
                  style="background-color: green; color: green; " 
                  class ="btn"
                  data-key="pk_test_ZQXFDj1SrH74JPf4Ev4Lk6ay00hSEYhQmc"
                  data-amount = "27"
                  data-name="FarmFella"
                  data-description = "Widget"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto"
                  ></script>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Shukla -Farmers</h2>
              <h4>Madhya-Pradesh,Gwalior</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product:Jute </b></li>
                <li><b>Type</b>Cash Crops</li>
                <li><b>Price</b>5000/quintal</li>
                
                <li>
                  <span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" style="background-color: green;" class="btn">Chat</button>

                <br>
                <br>
                <form action="/your-server-side-code" method="POST">
                  <script 
                  src = "https://checkout.stripe.com/checkout.js" class = "stripe-button"
                  style="background-color: green; color: green; " 
                  class ="btn"
                  data-key="pk_test_ZQXFDj1SrH74JPf4Ev4Lk6ay00hSEYhQmc"
                  data-amount = "5000"
                  data-name="FarmFella"
                  data-description = "Widget"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto"
                  ></script>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sharmaji -Farmers</h2>
              <h4>Madhya-Pradesh,Guna</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product:Coffee </b></li>
                <li><b>Type</b>Plantation Crops </li>
                <li><b>Price</b> 110/kg</li>

                <li>
                  <span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" style="background-color: green;" class="btn">Chat</button>

                <br>
                <br>
                <form action="/your-server-side-code" method="POST">
                  <script 
                  src = "https://checkout.stripe.com/checkout.js" class = "stripe-button"
                  style="background-color: green; color: green; " 
                  class ="btn"
                  data-key="pk_test_ZQXFDj1SrH74JPf4Ev4Lk6ay00hSEYhQmc"
                  data-amount = "110"
                  data-name="FarmFella"
                  data-description = "Widget"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto"
                  ></script>

              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </section>



  <section id="pricing" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sanju-Farmers</h2>
              <h4>Madhya-Pradesh,Morena</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product:Sugarcane </b></li>
                <li><b>Type</b>Cach Crops</li>
                <li><b>Price</b>320/Quintal/li>
                
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" style="background-color: green;" class="btn">Chat</button>

                <br>
                <br>
                <form action="/your-server-side-code" method="POST">
                  <script 
                  src = "https://checkout.stripe.com/checkout.js" class = "stripe-button"
                  style="background-color: green; color: green; " 
                  class ="btn"
                  data-key="pk_test_ZQXFDj1SrH74JPf4Ev4Lk6ay00hSEYhQmc"
                  data-amount = "60"
                  data-name="FarmFella"
                  data-description = "Widget"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto"
                  ></script>

              </div>
            </div>
          </div>
      </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Jain-Farmers</h2>
              <h4>Madhya-Pradesh,Bhopal</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product:Tea </b></li>
                <li><b>Type</b> Plantation Crops</li>
                <li><b>Price</b> 100/kg</li>
              
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" style="background-color: green;" class="btn">Chat</button>

                <br>
                <br>
                <form action="/your-server-side-code" method="POST">
                  <script 
                  src = "https://checkout.stripe.com/checkout.js" class = "stripe-button"
                  style="background-color: green; color: green; " 
                  class ="btn"
                  data-key="pk_test_ZQXFDj1SrH74JPf4Ev4Lk6ay00hSEYhQmc"
                  data-amount = "60"
                  data-name="FarmFella"
                  data-description = "Widget"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto"
                  ></script>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sri Agricultural Farmers</h2>
              <h4>Madhya-Pradesh,Shivpuri</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product:Fruits </b></li>
                <li><b>Type</b> Horticulture Crops </li>
                <li><b>Price</b> 50/kg</li>
                
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#"style="background-color: green;"  class="btn">Chat</button>
                <br>
                <br>
                <form action="/your-server-side-code" method="POST">
                  <script 
                  src = "https://checkout.stripe.com/checkout.js" class = "stripe-button"
                  style="background-color: green; color: green; " 
                  class ="btn"
                  data-key="pk_test_ZQXFDj1SrH74JPf4Ev4Lk6ay00hSEYhQmc"
                  data-amount = "60"
                  data-name="FarmFella"
                  data-description = "Widget"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto"
                  ></script>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>


   <!--==========================
    Footer
  ============================-->
    <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#"><span style="color: green">Farm</span><span style="color: #6fec5d">Fella</span></a>
            <p>If you have any disputes or hints, please fill in the details below, and we will get in touch with you very soon.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4></h4>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Top Touches</h4>

            <ul class="list-unstyled">
              <li><a href="#">Climate Anticipation</a></li>
              <li><a href="#">Communication Support</a></li>
              <li><a href="#">Chatter-Bot</a></li>
              <li><a href="#">SMS Service</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights FarmFella. All rights reserved.</p>
        <div class="credits">
         
        </div>
      </div>
    </div>

  </footer>



</body>
</html>